# Site 1
SITE_1_DOMAIN="my-site.pt"
SITE_1_CONTAINER="docker-container-name"
SITE_1_PORT="3000"
SITE_1_PORT_MAPPED="3100"

# Site 2
SITE_2_DOMAIN="my-site2.org"
SITE_2_CONTAINER="docker-container-name2"
SITE_2_PORT="3000"
SITE_2_PORT_MAPPED="3200"

# ! Use this in first step to install certificate
# SITE_X_USE_ONLY_HTTP="true"
